/* Header */

.nav-link {
    display: block;
    padding: 0.5rem 1rem;      
}
#trans:hover {
    color: #00bfd8;
    font-size: 18px;
    transition: 0.75s;
    transform: scale(1);
}
a {
    color: #9e9e9e;
    text-decoration: none;
    background-color: transparent;
}

/* Fin Header */